<p class="title">
    New Articles here
</p>
<p class="subtitle">
    all articles was here
</p>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this posts", post %>
    </p>
  <% end %>

</div>
