<p class="title">
    New Articles here
</p>
<p class="subtitle">
    all articles was here
</p>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>Created by:</p>
    <%= post.user.email %>
    <P>Posted on :</P>
    <%= post.created_at.strftime('%B, %d, %Y, %l:%M%P') %>
    <p>
      <%= link_to "Show this posts", post %>
    </p>
    <br/>
  <% end %>

</div>
