<div class="columns">
  <div class="column is-two-thirds">
    <%= render @post %>
    <a>
      <%= link_to "Edit this posts", edit_post_path(@post), class: "btn btn-primary btn-sm" %> |
      <%= link_to "Back to posts", posts_path, class: "btn btn-primary btn-sm" %>
    </a>
    <h5>
      <%= button_to "Destroy this posts", @post, method: :delete, class: "btn btn-danger btn-sm" %>
    </h5>
  </div>
  <div class="column">Auto</div>
  <div class="column">Auto</div>
</div>
